<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vmeet">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".ServiceReqStatus"></activity>
        <activity android:name=".ReceiveServiceRequests" />
        <activity android:name=".MyBooking" />
        <activity android:name=".BookingDetails" />
        <activity android:name=".RemoveRooms" />
        <activity android:name=".RequestMaintenance" />
        <activity android:name=".CreatePostActivity" />
        <activity android:name=".AdminHome" />
        <activity android:name=".AdminAddHardwareSoftware" />
        <activity android:name=".RemoveHardewareSoftware" />
        <activity android:name=".adminHardware" />
        <activity android:name=".Login" />
        <activity android:name=".ResetActivity" />
        <activity android:name=".Faqs" />
        <activity android:name=".Feedback" />
        <activity android:name=".Contactus" />
        <activity android:name=".Profile_settings" />
        <activity android:name=".Settings" />
        <activity android:name=".Editprofile" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Homepage"
            android:label="@string/title_activity_homepage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SignUp" />
    </application>

</manifest>